.input-construcion-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-construcion-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}



.site-img-content{
  position: relative;
}

.site-img {
  width: 33vh;
  height: 33vh;
}
.site-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  width: 33vh;
}

.site-name {
  font-size: 2.5vh;

}


.noimage-btn {
  display: flex;
  align-items: center;
}

.noimage-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.noimage-count {
  font-size: 2vh;
}

.list{
  width: 37vh;
  list-style: none;
 margin: 0 20 50 10;
}

.lists{
  display: flex;

}