
<div class="side-bar">
  <div class="sites">
   現場一覧表

    <div class="site">
      <div class="side_site-name">
      <% @sites.each do |site|%>
           <li class='side_list'>
             <%= link_to site_path(site) do %> 
             <%= site.sitename %> 様邸
             <% end %>
           </li>
         <% end %>
      </div>
    </div>
  </div>
 </div>

