 
<div class="side-bar">
  <div class="sites">
   現場一覧表
    <div class="site">
      <div class="site-name">
         <a href="#">techroom1</a>
      </div>
    </div>
    <div class="site">
      <div class="site-name">
        <a href="#">techroom2</a>
      </div>
    </div>
  </div>
</div>
